/vendor/
/node_modules/
/composer.lock
/.phpunit.cache/
/.idea/
/.vscode/
/.fleet/
/.DS_Store/
/Thumbs.db
.env
.env.backup
.phpunit.result.cache
phpunit.xml
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
*.cache
*.log
